/* @import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
a {
  text-decoration: none !important;
}
.about-section .rounded-circle {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-section .lucide {
  width: 15px;
  height: 15px;
}
.card-text {
  font-size: 12px;
}
.text-error {
  color: red;
}
.post-content {
  line-height: 1.8;
  font-size: 1.1rem;
}
/* :global(.post-content img) {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  margin: 1rem 0;
}
:global(.post-content h2),
:global(.post-content h3) {
  margin-top: 2rem;
  margin-bottom: 1rem;
} */
